/* vistaUser.css */

/* Estilos para la sección de bienvenida */
.welcome-area {
  background-color: #f7f7f7;
  padding: 50px 0;
}

.welcome-content h2 {
  color: #333;
}

.welcome-content p {
  color: #666;
}

/* Estilos para la sección de "Quiénes Somos" */
.about-area {
  background-color: #fff;
  padding: 50px 0;
}

.about-content h2 {
  color: #333;
}

.about-content p {
  color: #666;
}

/* Estilos para la sección de contacto */
.contact-area {
  background-color: #f7f7f7;
  padding: 50px 0;
}

.contact-content h2 {
  color: #333;
}

.contact-content p {
  color: #666;
}
